<div class="card my-5">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Brief</th>
            <th scope="col">Contact Address</th>
            <th scope="col">Remarks</th>
            <th scope="col">Companies Listed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stockExchange of stockExchanges">
            <td>{{ stockExchange.stockExchange}}</td>
            <td>{{ stockExchange.brief }}</td>
            <td>{{ stockExchange.contactAddress }}</td>
            <td>{{ stockExchange.remarks }}</td>
            <td><button (click)="companyList(stockExchange.stockExchangeId)" class="btn btn-info">Details</button>
          </td>
          </tr>
        </tbody>
      </table>
  </div>